/* 水玉 */
.square {
    
    
    height: 200px;
    width: 200px;
    background: #0bd;
  } 
body {
    padding: 2rem;
}
h1 {
    
    
    font-size: 4rem;
    position: absolute;
    top: 80px;
    left: 100px;
}

/* 黒幕 */
#spread {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #000;
}

/* 発表画像 */
.screen{
    height: 500px;
    margin-bottom: 40px;
}
#screen{
    height: 200px;
    margin-bottom: 40px;
}
.kurou{
    height: 250px;
    margin-left: 10px;
    margin-bottom: 20px;
}
.kurouu{
    height: 70px;
    margin-left: 10px;
}

#greeting{
    margin-left: 20px;
}


.sentence{
    margin: 50px , 0px , 10px , 0px;
    /* padding: 50px , 0px , 10px , 0px; */
}
.dot{
    width: 80%;
    margin-top  : 5px;
    /* max-width: 500px; */
    text-align: center  ;
    font-size: large;
    font-weight: bold;
  }

/*アコーディオン全体*/
.accordion-area{
    list-style: none;
    width: 96%;
    max-width: 1200px;
    margin:0 auto;
}

.accordion-area li{
    margin: 10px 0;
}

.accordion-area section {
	border: 1px solid #ccc;
}

/*アコーディオンタイトル*/
.title {
    position: relative;/*+マークの位置基準とするためrelative指定*/
    cursor: pointer;
    font-size:2rem;
    font-weight: normal;
    padding: 0% 3% 0% 50px;
    transition: all .5s ease;
    
}

/*アイコンの＋と×*/
.title::before,
.title::after{
    position: absolute;
    content:'';
    width: 15px;
    height: 4px;
    background-color: #333;
    
}
.title::before{
    top:48%;
    left: 15px;
    transform: rotate(0deg);
    
}
.title::after{    
    top:48%;
    left: 15px;
    transform: rotate(90deg);

}
/*　closeというクラスがついたら形状変化　*/
.title.close::before{
	transform: rotate(45deg);
}

.title.close::after{
	transform: rotate(-45deg);
}

/*アコーディオンで現れるエリア*/
.box {
    display: none;/*はじめは非表示*/
    background: #f3f3f3;
	margin:0 3% 3% 3%;
    padding: 3%;
}

.kusudama{
    
    
    display: flex;    
}

#kusudamaLeft{    
    height:200px;
    width:100px;
    border-radius: 100px  0 0 100px ;
    background-color: gold;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease;
	transition-delay: 0s;
    text-align: right;

}

#kusudamaRight{
    text-align: left;
    height:200px;
    width:100px;
    border-radius: 0px  100px 100px 0 ;
    background-color: gold;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease;
	transition-delay: 0s;
}
#kusudamaLeft.open{
    transform-origin:top;
    transform: rotate(70deg);
    background-color: gold;
}
#kusudamaRight.open{
    transform-origin:top;
    transform: rotate(-70deg);
    background-color: gold;
}



.confetti {
    /* position: absolute; */
    top:680px;
    left: 400px;
    border-radius: 6px;
    /* background: #000; */
    width: 250px;
    height: 400px;
  }
  
  .confetti > span {
    display: block;
    position: absolute;
    opacity: 0;
  }
  
  .confetti > span > span {
    display: block;
    width: 100%;
    height: 100%; }
  
  .confetti > span > span > span {
    display: block;
    width: 100%;
    height: 100%;
  }
  
  @keyframes rotateY {
    0% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(360deg);
    }
  }
  
  @keyframes rotate360 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
